<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-user-stat-heading" jhiTranslate="uneedApp.userStat.home.createOrEditLabel">Create or edit a User Stat</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uneedApp.userStat.viewCount" for="field_viewCount">View Count</label>
                    <input type="number" class="form-control" name="viewCount" id="field_viewCount"
                           formControlName="viewCount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uneedApp.userStat.reviewCount" for="field_reviewCount">Review Count</label>
                    <input type="number" class="form-control" name="reviewCount" id="field_reviewCount"
                           formControlName="reviewCount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uneedApp.userStat.rating" for="field_rating">Rating</label>
                    <input type="number" class="form-control" name="rating" id="field_rating"
                           formControlName="rating"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uneedApp.userStat.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user').value?.id ? editForm.get('user').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
