<div>
    <button class="btn btn-outline-info text-light mx-1 my-3" (click)="onTypeChange('service')"><i class="fa fa-coffee"></i> Service</button>
    <button class="btn btn-outline-info text-light mx-1 my-3" (click)="onTypeChange('place')"><i class="fa fa-map-marker"></i> Place</button>
    <button class="btn btn-outline-info text-light mx-1 my-3" (click)="onTypeChange('group')"><i class="fa fa-users"></i> Group</button>
    <button class="btn btn-outline-info text-light mx-1 my-3" (click)="onTypeChange('restaurant')"><i class="fa fa-cutlery"></i> Restaurant</button>
</div>

<form role="form" novalidate  class="my-2 my-lg-0 p-3 search-form" (ngSubmit)="search()" [formGroup]="form">

<!--    <div class="row">-->
<!--        <div class="col-md-6 col-xs-12">-->
<!--            <select class="" id="field_category" name="category" formControlName="categoryId">-->
<!--                &lt;!&ndash;<option [ngValue]="null"></option>&ndash;&gt;-->
<!--                <option [ngValue]="entry.id" *ngFor="let entry of categories; trackBy: trackCategoryById">{{entry.name}}</option>-->
<!--            </select>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="row">-->
<!--        <div class="col-md-12 col-xs-12">-->
<!--            <div class="form-control">-->
<!--            <input class="font-weight-bold" style="width: 80%; font-size: large" type="text"-->
<!--                   placeholder="Search" formControlName="content">-->
<!--            <button class="btn btn-primary my-2 my-sm-0" style="padding-right: 30px; padding-left: 30px" type="submit">-->
<!--                <fa-icon icon="search"></fa-icon>-->
<!--            </button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="row">
        <div class="col">
            <input class="form-control mr-sm-2" style="font-size: large" type="text" placeholder="City" formControlName="location">
        </div>
        <div class="col" *ngIf="hasCategory">
            <select class="form-control mr-sm-2" style="font-size: large" id="field_category" name="category"
                    formControlName="categoryId">
                <option [ngValue]="null" class="text-light" hidden>Select category</option>
                <option [ngValue]="entry.id" *ngFor="let entry of categories; trackBy: trackCategoryById">{{entry.name}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-inline">
                <input class="form-control mr-sm-2" style="width:75%; font-size: large" type="text" placeholder="What are you looking for?" formControlName="content">
                <button class="btn btn-primary my-2 px-md-5" type="submit">
                    <fa-icon icon="search"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</form>

