<div *ngIf="quote" class="my-5">
    <div class="row">
        <div class="offset-md-2 col-md-8 col-sm-12">
            <span class="quote-content">"{{quote.quote}}"</span>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-3 col-md-6 col-sm-12">
            <span class="quote-author float-right">{{quote.author}}</span>
        </div>
    </div>
</div>
<div class="">
    <div>
        <button class="btn btn-outline-info text-light mx-1 my-3" (click)="onTypeChange('service')"><fa-icon [icon]="faCoffee"></fa-icon> Service</button>
        <button class="btn btn-outline-info text-light mx-1 my-3" (click)="onTypeChange('place')"><fa-icon [icon]="faMapMarked"></fa-icon> Place</button>
        <button class="btn btn-outline-info text-light mx-1 my-3" (click)="onTypeChange('group')"><fa-icon [icon]="faUsers"></fa-icon> Group</button>
        <button class="btn btn-outline-info text-light mx-1 my-3" (click)="onTypeChange('restaurant')"><fa-icon [icon]="faUtensils"></fa-icon> Restaurant</button>
    </div>
</div>
<form role="form" novalidate  class="my-2 my-lg-0 p-3 search-form" (ngSubmit)="search()" [formGroup]="form">
    <div class="row">
        <div class="col">
            <input class="form-control mr-sm-2" style="font-size: large" type="text" placeholder="City" formControlName="location">
        </div>
        <div class="col" *ngIf="hasCategory">
            <select class="form-control mr-sm-2" style="font-size: large" id="field_category" name="category"
                    formControlName="categoryId">
                <option [ngValue]="null" class="text-light" hidden>Select category</option>
                <option [ngValue]="entry.id" *ngFor="let entry of categories; trackBy: trackCategoryById">{{entry.name}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-inline">
                <input class="form-control mr-sm-2" style="width:75%; font-size: large" type="text" placeholder="What are you looking for?" formControlName="content">
                <button class="btn btn-primary my-2 px-md-5" type="submit">
                    <fa-icon icon="search"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col">
    <button class="btn btn-outline-warning text-light mx-2 my-4 p-md-4" matTooltip="Home & Garden"><fa-icon [icon]="faCity" size="lg"></fa-icon></button>
    <button class="btn btn-outline-warning text-light mx-2 my-4 p-md-4" matTooltip="Automotive"><fa-icon [icon]="faCarSide" size="lg"></fa-icon></button>
    <button class="btn btn-outline-warning text-light mx-2 my-4 p-md-4" matTooltip="Computer & Electronics"><fa-icon [icon]="faLaptop" size="lg"></fa-icon></button>
    <button class="btn btn-outline-warning text-light mx-2 my-4 p-md-4" matTooltip="Small Business"><fa-icon [icon]="faUserTie" size="lg"></fa-icon></button>
    <button class="btn btn-outline-warning text-light mx-2 my-4 p-md-4" matTooltip="Sports & Fitness"><fa-icon [icon]="faDumbbell" size="lg"></fa-icon></button>
    <button class="btn btn-outline-warning text-light mx-2 my-4 p-md-4" matTooltip="Travel"><fa-icon [icon]="faPlaneDeparture" size="lg"></fa-icon></button>
    </div>
</div>

<div class="row">
    <div class="col">
        <span class="badge badge-pill badge-secondary badge-tag mr-md-1" *ngFor="let tag of commonTags">
            <span class="font-weight-bold">#</span>{{tag}}
        </span>
    </div>
</div>
