.bg-main {
  padding: 12em 0 6em;
  background: #349aed;
  background: linear-gradient(145deg, #349aed 50%, #34d8ed 100%);
  color: #fff;
  text-align: center;
}

.bg-main-img {
  padding: 12em 0 6em;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../content/images/bg/bg3.jpg');
  color: #fff;
  text-align: center;
}

.main-card {
  background-color: inherit;
  box-shadow: none;
}
