@import '~bootstrap/scss/functions';
//@import '~bootswatch/dist/yeti/variables';
@import '~bootswatch/dist/materia/variables';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar {
  //background: #349aed;
  //background: linear-gradient(145deg, #349aed 50%, #34d8ed 100%);
  transition: box-shadow 200ms ease-in;
}

.bg-dark {
  //background-color: rgba(0, 0, 0, 0.5) !important;
  //background-color: rgba(80, 40, 110, 0.95) !important;
  background-color: rgba(50, 10, 60, 0.95) !important;
}

.navbar-transparent {
  background: none !important;
  box-shadow: none;
}

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-active-color;
}

.profile-image {
  height: 2.25em;
  width: 2.25em;
  margin-top: -7px;
}

.navbar {
  padding: 0.2rem 1rem;
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: $info;
  }

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 400;
  }

  .navbar-toggler {
    &:hover {
      color: $navbar-light-hover-color;
    }
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo/uneed-logo.png') no-repeat center center;
  background-size: contain;
}

.navbar-uneed {
  font-family: 'Brush Script MT';
  font-size: 1.2em;
}

.navbar-uneed-desc {
  font-family: cursive;
}

.margin-top-10 {
  margin-top: 10px;
}

.dropdown-toggle::after {
  display: none;
}
